@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
    color: white;
    font-family: "Share Tech", sans-serif;
}

body {
	background: linear-gradient(-45deg, black, indigo, midnightblue, black);
	height: 100vh;
}